{% extends 'user/base.html.twig' %}
{% block header %}
    {% include 'user/inc/header.html.twig' %}
{% endblock %}
{% block title %}{{ app.user.username }} | Kullanıcı Paneli{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center h2">İstatistikler</p>
                <p class="text-center h4">{{ url.url }}</p>
                <hr>
                <table class="table table-responsive table-hover text-center">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Browser</th>
                        <th scope="col">Ip Adres</th>
                        <th scope="col">Oluşturduğun Tarih</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for stat in urlstat %}
                        <tr>
                            <td>#</td>
                            <td>{{ stat.browser }}</td>
                            <td>{{ stat.ipaddress }}</td>
                            <td>{{ stat.createdat | date("m/d/Y h:i:s", "Europe/Istanbul") }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
